src/main/resources/bmi.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hu.nl/gsos/soap" elementFormDefault="qualified">

    <xs:element name="getBmiRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="weight" type="xs:int"/>
                <xs:element name="length" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBmiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>